.hero-text{
	color: tomato;
	font-size:45px;
	margin-left: 450px;
	padding-bottom: 30px;
	text-align: center;
}
.gallery{
	display: block;
}
.red{
	background-color: red;
	min-height: 400px;
}
.green{
	background-color: green;
    min-height: 400px;
}
.blue{
	background-color: blue;
	min-height: 400px;
}

/*hover effect*/
.gallary a img{
	position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 15;
}

/* Zoom In */
.d{
	display: inline;
}
.hover figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* Zoom In */
.hover figure img {
	width: 300px;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	
}
.hover figure:hover img {
	width: 350px;
}

.item-menu ul li { 
	padding: 10px 15px;
    display: inline;
	
    list-style: none;
    border: 1px solid tomato;
    cursor: pointer;
    transition: .5s;}
.item-menu ul li:hover { 
	background:tomato;
	color:#ffffff;}

.item,.item-details{
	margin:10px 10px;
}
.active{
	background-color: tomato;
	color: #ffffff;
}
.slick-slider{
	padding-bottom: 20px;
}
.owl-carousel{
	padding-bottom: 20px;
	background-color: tomato;
}
.para-s{}
.parallax-window {
    min-height: 500px;
    background: transparent;
}